body{
    width: 100%;
    height: 100%;
}
.topframe{
    margin: 0%;
    width: 100%;
    padding-top: 1%;
    background-color: orange;
    font-family: 'Libre Baskerville', serif;
}
.navbar {
    display: inline;
    color: white;
    font-size: 22px;
}
.navbar .heading{
    display: inline-flex;
}
.navbar .heading img{
    margin-left: 8%;
    width: 25%;
    box-shadow: 0 3px 5px   black;
}
.navbar .heading h1{
    margin-left: 1.2%;
    margin-top: 4%;
    font-size: 1.4em;
    color: darkred;
    text-shadow: 2px 1.8px 4px #000000;;
    font-weight: bolder;
    letter-spacing: 1.2%;
}
.navbar .navbar-nav{
    float: right;
    padding-left: 74%;
}
.navbar-light .navbar-nav .nav-link {
    float: right;
    color: darkgreen;
    margin-right: 2%;  
    height: 2em;
    text-align: center;
    text-decoration: none;
    font-weight: bolder;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: white;
    border-bottom: 3px solid black;
}
.navbar-collapse {
    background-color: orange;
    clear: both;
    align-items: center;
    margin-right: 40%;
}
.section1 {
    margin-top: 0%;
    background-color: orange;
}

a:visited {
        color: blue;
}

.aboutUs {
    margin-top: 50px;
    margin-left: 50px;
    background-color: orange;
}

.kidFriendly {
    background: url('../img/kid2.jpg');
}

.left-frame {
    background-color: green;
    margin-top: 100px;
}

.lotusTemple {
    text-align: center;
	font-size: 5px;
	font-family: Arial, sans-serif;
    background: url('../img/lotus2.jpg');
    margin-left: 100px;
}

.museum {
    background: url('../img/museum1.jpg');
}

.redFort {
    background: url('../img/redfort3.jpg');
    margin-left: 100px;
}

.cutting {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3), rgba(125, 60, 152));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%, 50% 100%, 0 75%, 0 0%);
    position: relative;
}

.redFort {
    background-color: orange;
}

.shopping {
    background: url('../img/shopping1.jpg');
}

.contact {
    background: url('../img/flower.jpg');
}

.registration {
    background-color: pink;
}
@media (max-width:655px){
    .container-fluid{
        display: inline-flex;
    }
    .navbar-light .navbar-nav .nav-link{
        font-size: 15px;
    }
    .navbar-toggler{
        margin-left: 90%;
        margin-top: 0%;
    }
    .navbar .heading img{
       margin-left: 2%;
    }
    .navbar .heading h1{
      font-size: 0.9em;   
    }
}
