.home {
    background-color: orange;
}

a:visited {
        color: blue;
}

.aboutUs {
    margin-top: 50px;
    margin-left: 50px;
    background-color: orange;
}

.kidFriendly {
    background: url('../img/kid2.jpg');
}

.left-frame {
    background-color: green;
    margin-top: 100px;
}

.lotusTemple {
    text-align: center;
	font-size: 5px;
	font-family: Arial, sans-serif;
    background: url('../img/lotus2.jpg');
    margin-left: 100px;
}

.museum {
    background: url('../img/museum1.jpg');
}

.redFort {
    background: url('../img/redfort3.jpg');
    margin-left: 100px;
}

.cutting {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3), rgba(125, 60, 152));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%, 50% 100%, 0 75%, 0 0%);
    position: relative;
}

.redFort {
    background-color: orange;
}

.shopping {
    background: url('../img/shopping1.jpg');
}

.topFrame {
    background-color: brown;
}

.navbar {
	float: left;
    padding: 12px;
    color: white;
    font-size: 20px;
}

.active {
	background-color:orchid;
}

.sclass {
	background-color: green;
}

.contact {
    background: url('../img/flower.jpg');
}

.registration {
    background-color: pink;
}

