    :root{
    --primary-color:#ffdd00;
    --primary-background:#fff;
    --primary-background-inverse:#010409;
    --primary-cards-icon:#00bbf0;
    --primary-cards-background:#00bbf0;
    --primary-input-border: #e1e4e8;
    --primary-input-background: #fff;
    --primary-footer:#2c2e3e;
    --primary-shadow:rgba(0,0,0,0.14);
}
[data-theme="dark"]{
    --primary-color:#f05454;
    --primary-background:#010409;
    --primary-background-inverse:#fff;
    --primary-cards-icon:#2d6187;
    --primary-cards-background:#28abb9;
    --primary-input-border: #21262d;
    --primary-input-background: #0d1117;
    --primary-footer:#1a2228;
    --primary-shadow:rgba(255,255,255,0.14);
}
    body{
        padding-top:40px;
        background-color:var(--primary-background) !important;
    }

    .togglebtn {
        position: absolute;
        margin: 0;
        width: 36px;
        height: 22px;
        opacity: 0;
    }
        .togglebtn + label {
            position: relative;
            box-sizing: border-box;
            display: inline-block;
            border: 1px solid #fff;
            height: 18px;
            width: 36px;
            background-color: #ffdd00;
            border-radius: 14px;
        }
        .togglebtn + label > b {
            position: absolute;
            display: inline-block;
            height: 100%;
            vertical-align: top;
            transition: margin-left .1s;
            background-color: #fbfbfb;
            width: 16px;
            border-radius: 50%;
            box-shadow: 0 3px 3px rgba(0,0,0,0.25);
            margin-left: 0;
            left: 0;
        }
    .togglebtn:checked + label {
        background-color: #f05454;
        border:1px solid #000;
    }
    .togglebtn:checked + label > b {
        margin-left: 18px;
    }
    
.container{
    padding-top: 50px;;
}

    .main {
        background-color: var(--primary-background);
        margin:0px auto;
        width: 400px;
        height: 400px;
        border-radius: 1.5em;
        box-shadow: 0px 11px 35px 2px var(--primary-shadow);
    }
    
    .sign {
        padding-top: 40px;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 35px;
        text-align: center;
    }

    .sign1{
        padding-top: 40px;
        color: #8C55AA;
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 23px;
        text-align: center;
    }
    
    .un {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        background: rgba(136, 126, 126, 0.04);
        padding: 10px 20px;
        border: none;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        border: 2px solid rgba(0, 0, 0, 0.02);
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    form.form1 {
        padding-top: 40px;
    }

    h1{
        margin-top:30px;
        text-align: center;
        color:var(--primary-background-inverse);
        font-weight: 600;
        font-size: 40px;
    }
    
    .pass {
        width: 76%;
        color: rgb(38, 50, 56);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 1px;
        /* background: rgba(136, 126, 126, 0.04); */
        background-color: var(--primary-input-background);
        border:1.5px solid var(--primary-input-border);
        padding: 10px 20px;
        border-radius: 20px;
        outline: none;
        box-sizing: border-box;
        margin-bottom: 50px;
        margin-left: 46px;
        text-align: center;
        margin-bottom: 27px;
        font-family: 'Ubuntu', sans-serif;
    }
    
    .un:focus,
    .pass:focus {
        border: 2px solid rgba(0, 0, 0, 0.18) !important;
    }
    
    .submit {
        cursor: pointer;
        border-radius: 5em;
        color: var(--primary-background);
        background: linear-gradient(to right, #9C27B0, #E040FB);
        border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
        text-decoration: none;
    }
    .submit:hover{
        color:#fff;
    }

    .forgot{
        text-align: center;
        padding-top: 15px;
    }
    
    .forgot a{
        text-shadow: 0px 0px 3px rgba(117, 117, 117, 0.12);
        color: grey !important;
        text-align: center;
        text-decoration: none;
    }
    
    
    .fa,
    .far,
    .fas {
        display: inline;
    }
    
    #light-dark{
        text-decoration: none;
        color: var(--primary-background-inverse)!important;;
    }
    
    @media (max-width: 600px) {
        .main {
            border-radius: 0px;
        }
    }
