<footer id="colorlib-footer" role="contentinfo">
    <div class="container">
        <div class="row row-pb-md">
            <div class="col-md-3 colorlib-widget">
                <h4>About</h4>
                <p>This website includes all the famous places to visit by tourists from all over the world. Going through this website will make you explore all the famous places of Delhi i.e.
                    From historical monuments to best restaurant and etc.</p>
                <p>
                    <ul class="colorlib-social-icons">
                        <li><a href="#"><i class="icon-twitter"></i></a></li>
                        <li><a href="#"><i class="icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon-linkedin"></i></a></li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2 colorlib-widget">
                <h4>Book now</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="/bookticket">Flight</a></li>
                        <li><a href="/bookticket">Hotels</a></li>
                        <li><a href="/bookticket">Tour</a></li>
                        <li><a href="/bookticket">Car Rent</a></li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2 colorlib-widget">
                <h4>Top Places</h4>
                <p>
                    <ul class="colorlib-footer-links">
                        <li><a href="/browseplace">Chandni Chock</a></li>
                        <li><a href="/browseplace">Sarojni Nagar</a></li>
                        <li><a href="/browseplace">Chandni Chock</a></li>
                        <li><a href="/browseplace">Sarojni Nagar</a></li>
                    </ul>
                </p>
            </div>
            <div class="col-md-2">
                <h4>Blog Post</h4>
                <ul class="colorlib-footer-links">
                    <li><a href="/bookticket">The Ultimate Trip</a></li>
                    <li><a href="/bookticket">How These 5 People Come to the Heart of India</a></li>
                    <li><a href="/bookticket">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                </ul>
            </div>

            <div class="col-md-3 col-md-push-1">
                <a href="/contactus"><h4>Contact Us</h4></a>
                <ul class="colorlib-footer-links">
                    <li>Delhi, <br> India</li>
                    <li><a href="/contactus">+ 0000 0000 00</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <p>
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved to Delhi Tourism
                </p>
            </div>
        </div>
    </div>
</footer>
