<nav class="colorlib-nav" role="navigation">
    <div class="top-menu">
        <div class="container">
            <div class="row">
                <div class="col-xs-2">
                    <div id="colorlib-logo"><a href="/"><img src="User_Assets/images/logo.jpg" style="border-radius:10%;width:95px;height:80px"></a></div>
                </div>
                <div class="col-xs-10 text-right">
                    <ul>
                        <div class="menu-1">
                            <li class="active"><a href="/">Home</a></li>
                            <li class="has-dropdown">
                                <a>Explore</a>
                                <ul class="dropdown">
                                    <li><a href="/browseplace" target="none">Browse Places</a></li>
                                    <li><a href="/category" target="none">Categories</a></li>
                                    <li><a href="/addnewplace" target="none">+ Add Places</a></li>
                                </ul>
                            </li>
                            <li><a href="/bookticket">Book Ticket</a></li>
                            <li><a href="/contactus">Contact Us</a></li>
                            <li class="has-dropdown">
                                <a href="/login">Login</a>
                                <ul class="dropdown">
                                    <li><a href="/registration">Register</a></li>
                                    <li><a href="/userprofile" target="none">View Profile</a></li>
                                    <li><a href="/changepassword">Change Password</a></li>
                                </ul>
                            </li>
                            <li>
                                <a><span id="light-dark-text">Light</span><i id="light-dark-icon" style="margin-left:6px" class="fa fa-sun-o" aria-hidden="true"></i></a>
                                <input type="checkbox" name="check2" id="check2" class="togglebtn" /><label style="margin-bottom: 0px;" for="check2"><b></b></label>
                            </li>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>