<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Delhi Tourism</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./Assets/images/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="User_Assets/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="User_Assets/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="User_Assets/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="User_Assets/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="User_Assets/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="User_Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="User_Assets/css/owl.theme.default.min.css">

    <!-- Flaticons  -->
    <link rel="stylesheet" href="User_Assets/fonts/flaticon/font/flaticon.css">

    <!-- FontAwsome Icons -->
    <link rel="stylesheet" href="User_Assets/css/all.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="User_Assets/css/style.css">
    <link rel="stylesheet" href="User_Assets/css/Category.css">
    <link rel="stylesheet" type="text/css" href="User_Assets/css/Book_ticket.css">

    <!-- Modernizr JS -->
    <script src="User_Assets/js/modernizr-2.6.2.min.js"></script>

    <!-- Fontawesome -->
    <script src="https://use.fontawesome.com/7ade57373d.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">


</head>

<%-include('../partials/navbar')%>
<%- body %>
<%-include('../partials/footer')%>


 <!-- jQuery -->
 <script src="User_Assets/js/jquery.min.js"></script>
 <!-- jQuery Easing -->
 <script src="User_Assets/js/jquery.easing.1.3.js"></script>
 <!-- Bootstrap -->
 <script src="User_Assets/js/bootstrap.min.js"></script>
 <!-- Waypoints -->
 <script src="User_Assets/js/jquery.waypoints.min.js"></script>
 <!-- Flexslider -->
 <script src="User_Assets/js/jquery.flexslider-min.js"></script>
 <!-- Owl carousel -->
 <script src="User_Assets/js/owl.carousel.min.js"></script>
 <!-- Magnific Popup -->
 <script src="User_Assets/js/jquery.magnific-popup.min.js"></script>
 <script src="User_Assets/js/magnific-popup-options.js"></script>
 <!-- Stellar Parallax -->
 <script src="User_Assets/js/jquery.stellar.min.js"></script>
 <!-- Main -->
 <script src="User_Assets/js/main.js"></script>

 <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
 crossorigin="anonymous"></script>
<script type="text/javascript" src="User_Assets/js/Book_ticket.js">
</script>

 </html>