<!doctype html>
<html lang="en">

<head>
    <title>Book Pass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="User_Assets/css/Book_ticket.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" type="image/png" sizes="32x32" href="User_Assets/images/delhi-tourism.png">
    <!-- Fontawesome -->
    <script src="https://use.fontawesome.com/7ade57373d.js"></script>
    <style type="text/css">

    </style>
</head>
<!-- Body -->

<body>
    <nav class="nav">
        <a href="/" id="nav_img"><img src="User_Assets/images/delhi-tourism.png" alt="" height="80px" width="110px"></a>
        <a href="/"><i class="fa fa-home" aria-hidden="true"></i>&nbsp;Home</a>
        <a href="/bookticket" target="_blank"><i class="fas fa-hotel"></i>&nbsp;Book Pass</a>
        <a href="/browseplace" target="_blank"><i class="fas fa-place-of-worship"></i></i>&nbsp;Places To Visit</a>
        <a href="/contactus" target="_blank"><i class="fa fa-plug" aria-hidden="true"></i>&nbsp;Contact us</a>
        <a href="/login" target="_blank" id="register">Login&nbsp;<i class="fas fa-sign-in-alt" ></i></a>
        <a><span id="light-dark-text">Light</span><i id="light-dark-icon" style="margin-left:6px" class="fa fa-sun-o" aria-hidden="true"></i></a>
        <input type="checkbox" name="check2" id="check2" class="togglebtn"/><label style="margin-bottom: 0px;" for="check2"><b></b></label>
    </nav>
    <header class="main_header">
        <div class="d-flex justify-content-center align-items-center flex-column py-5 top_head">
            <h1 class="text-uppercase main_heading">Delhi Tourism </h1>
        </div>
        <!-- //the main image -->
        <div class="main_header__div d-flex align-items-start
        justify-content-center  flex-column shadow pl-5">
            <h2 class="animateWord">
                <span>Explore</span>
                <div>
                    <ul class="flip4">
                        <li>Fairs and Festivals</li>
                        <li>Monuments</li>
                        <li>Foods </li>
                        <li>Rich Traditions </li>
                        <li>Music </li>

                    </ul>
                </div>
            </h2>
            <button class="text-uppercase" onClick="document.getElementById('bottom').scrollIntoView();">Book pass</button>
        </div>
    </header>



    <!-- BOOKPASS FORM -->

    <div class="wrapper">
        <div class="title">
            Book Pass Now
        </div>
        <form action="" name="form1" onsubmit="validate()">
            <div class="form" id="bottom">
                <div class="inputfield">
                    <label>First Name</label>
                    <input type="text" class="input" name="FirstName" required>
                </div>
                <div class="inputfield">
                    <label>Last Name</label>
                    <input type="text" class="input" name="LastName" required>
                </div>
                <div class="inputfield">
                    <label>Email Address</label>
                    <input type="text" name="email" class="input" required>
                </div>
                <div class="inputfield">
                    <label>No of passes(Adult)</label>
                    <div class="custom_select">
                        <select required>
                      <option value="">Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="2">3</option>
                      <option value="2">4</option>
                      <option value="2">5</option>
                    </select>
                    </div>
                </div>

                <div class="inputfield">
                    <label>Time slot</label>
                    <div class="custom_select">
                        <select required>
                    <option value="">Select</option>
                    <option value="forenoon">9am to 12pm</option>
                    <option value="afternoon">12pm to 3pm</option>
                    <option value="evening">3pm to 6pm</option>
                    <option value="night">6pm to 9pm</option>
          
                  </select>
                    </div>
                </div>

                <div class="inputfield">
                    <label>Date</label>
                    <input type="Date" class="input" name="date" required>
                </div>
                <div class="inputfield">
                    <label>No of passes(Children)</label>
                    <div class="custom_select">
                        <select required>
                    <option value="">Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                    <option value="2">4</option>
                    <option value="2">5</option>
                  </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Phone Number</label>
                    <input type="tel" class="input" name="mobile" required>
                </div>




                <div class="inputfield">
                    <input type="submit" value="Book Now" class="btn" onclick="validate()">
                </div>
        </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="User_Assets/js/Book_ticket.js">
    </script>
</body>

</html>
