<!doctype html>
<html lang="en">

<head>
    <title>Book Pass</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="User_Assets/css/Book_ticket.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <link rel="icon" type="image/png" sizes="32x32" href="User_Assets/images/delhi-tourism.png">
   
     <!-- Animate.css -->
     <link rel="stylesheet" href="User_Assets/css/animate.css">
     <!-- Icomoon Icon Fonts-->
     <link rel="stylesheet" href="User_Assets/css/icomoon.css">
     <!-- Bootstrap  -->
     <link rel="stylesheet" href="User_Assets/css/bootstrap.css">
 
     <!-- Magnific Popup -->
     <link rel="stylesheet" href="User_Assets/css/magnific-popup.css">
 
     <!-- Flexslider  -->
     <link rel="stylesheet" href="User_Assets/css/flexslider.css">
 
     <!-- Owl Carousel -->
     <link rel="stylesheet" href="User_Assets/css/owl.carousel.min.css">
     <link rel="stylesheet" href="User_Assets/css/owl.theme.default.min.css">
 
     <!-- Flaticons  -->
     <link rel="stylesheet" href="User_Assets/fonts/flaticon/font/flaticon.css">
 
     <!-- FontAwsome Icons -->
     <link rel="stylesheet" href="User_Assets/css/all.min.css">
 
     <!-- Theme style  -->
     <link rel="stylesheet" href="User_Assets/css/style.css">
 
 
     <!-- Modernizr JS -->
     <script src="User_Assets/js/modernizr-2.6.2.min.js"></script>
 
     <!-- Fontawesome -->
     <script src="https://use.fontawesome.com/7ade57373d.js"></script>

     <style type="text/css">
     </style>


</head>
<!-- Body -->

<body>
    <nav class="colorlib-nav" role="navigation">
        <div class="top-menu">
            <div class="container">
                <div class="row">
                    <div class="col-xs-2">
                        <div id="colorlib-logo"><a href="/"><img src="User_Assets/images/logo.jpg" style="border-radius:10%;width:95px;height:80px"></a></div>
                    </div>
                    <div class="col-xs-10 text-right">
                        <ul>
                            <div class="menu-1">
                                <li><a href="/">Home</a></li>
                                <li class="has-dropdown">
                                    <a>Explore</a>
                                    <ul class="dropdown">
                                        <li><a href="/browseplace" target="none">Browse Places</a></li>
                                        <li><a href="/category" target="none">Categories</a></li>
                                        <li><a href="/addnewplace" target="none">+ Add Places</a></li>
                                    </ul>
                                </li>
                                <li class="active"><a href="/bookticket">Book Ticket</a></li>
                                <li><a href="/contactus">Contact Us</a></li>
                                <li class="has-dropdown">
                                    <a href="/login">Login</a>
                                    <ul class="dropdown">
                                        <li><a href="/registration">Register</a></li>
                                        <li><a href="/userprofile" target="none">View Profile</a></li>
                                        <li><a href="/changepassword">Change Password</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a><span id="light-dark-text">Light</span><i id="light-dark-icon" style="margin-left:6px" class="fa fa-sun-o" aria-hidden="true"></i></a>
                                    <input type="checkbox" name="check2" id="check2" class="togglebtn" /><label style="margin-bottom: 0px;" for="check2"><b></b></label>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <header class="main_header">
        <!-- //the main image -->
        <div class="main_header__div d-flex align-items-start
        justify-content-center  flex-column shadow pl-5">
                <h2 class="animateWord">
                <span>Explore</span>
                <div>
                    <ul class="flip4">
                        <li>Delhi Tourism</li>
                        <li>Fairs and Festivals</li>
                        <li>Monuments</li>
                        <li>Foods </li>
                        <li>Rich Traditions </li>
                        <li>Music </li>

                    </ul>
                </div>
            </h2>
            <button class="text-uppercase" onClick="document.getElementById('bottom').scrollIntoView();">Book pass</button>
    </div>
    </header>



    <!-- BOOKPASS FORM -->

    <div class="wrapper">
        <div class="title">
            Book Pass Now
        </div>
        <form action="" name="form1" onsubmit="validate()">
            <div class="form" id="bottom">
                <div class="inputfield">
                    <label>First Name</label>
                    <input type="text" class="input" name="FirstName" required>
                </div>
                <div class="inputfield">
                    <label>Last Name</label>
                    <input type="text" class="input" name="LastName" required>
                </div>
                <div class="inputfield">
                    <label>Email Address</label>
                    <input type="text" name="email" class="input" required>
                </div>
                <div class="inputfield">
                    <label>No of passes(Adult)</label>
                    <div class="custom_select">
                        <select required>
                      <option value="">Select</option>
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="2">3</option>
                      <option value="2">4</option>
                      <option value="2">5</option>
                    </select>
                    </div>
                </div>

                <div class="inputfield">
                    <label>Time slot</label>
                    <div class="custom_select">
                        <select required>
                    <option value="">Select</option>
                    <option value="forenoon">9am to 12pm</option>
                    <option value="afternoon">12pm to 3pm</option>
                    <option value="evening">3pm to 6pm</option>
                    <option value="night">6pm to 9pm</option>
          
                  </select>
                    </div>
                </div>

                <div class="inputfield">
                    <label>Date</label>
                    <input type="Date" class="input" name="date" required>
                </div>
                <div class="inputfield">
                    <label>No of passes(Children)</label>
                    <div class="custom_select">
                        <select required>
                    <option value="">Select</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="2">3</option>
                    <option value="2">4</option>
                    <option value="2">5</option>
                  </select>
                    </div>
                </div>
                <div class="inputfield">
                    <label>Phone Number</label>
                    <input type="tel" class="input" name="mobile" required>
                </div>




                <div class="inputfield">
                    <input type="submit" value="Book Now" class="btn" onclick="validate()">
                </div>
        </form>
        </div>
    </div>

   <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h4>About</h4>
                    <p>This website includes all the famous places to visit by tourists from all over the world. Going through this website will make you explore all the famous places of Delhi i.e.
                        From historical monuments to best restaurant and etc.</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Book now</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="/bookticket">Flight</a></li>
                            <li><a href="/bookticket">Hotels</a></li>
                            <li><a href="/bookticket">Tour</a></li>
                            <li><a href="/bookticket">Car Rent</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Top Places</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="/browseplace">Chandni Chock</a></li>
                            <li><a href="/browseplace">Sarojni Nagar</a></li>
                            <li><a href="/browseplace">Chandni Chock</a></li>
                            <li><a href="/browseplace">Sarojni Nagar</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2">
                    <h4>Blog Post</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="/bookticket">The Ultimate Trip</a></li>
                        <li><a href="/bookticket">How These 5 People Come to the Heart of India</a></li>
                        <li><a href="/bookticket">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <a href="/contactus"><h4>Contact Us</h4></a>
                    <ul class="colorlib-footer-links">
                        <li>Delhi, <br> India</li>
                        <li><a href="/contactus">+ 0000 0000 00</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved to Delhi Tourism
                    </p>
                </div>
            </div>
        </div>
    </footer>

     <!-- jQuery -->
     <script src="User_Assets/js/jquery.min.js"></script>
     <!-- jQuery Easing -->
     <script src="User_Assets/js/jquery.easing.1.3.js"></script>
     <!-- Bootstrap -->
     <script src="User_Assets/js/bootstrap.min.js"></script>
     <!-- Waypoints -->
     <script src="User_Assets/js/jquery.waypoints.min.js"></script>
     <!-- Flexslider -->
     <script src="User_Assets/js/jquery.flexslider-min.js"></script>
     <!-- Owl carousel -->
     <script src="User_Assets/js/owl.carousel.min.js"></script>
     <!-- Magnific Popup -->
     <script src="User_Assets/js/jquery.magnific-popup.min.js"></script>
     <script src="User_Assets/js/magnific-popup-options.js"></script>
     <!-- Stellar Parallax -->
     <script src="User_Assets/js/jquery.stellar.min.js"></script>
     <!-- Main -->
     <script src="User_Assets/js/main.js"></script>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="User_Assets/js/Book_ticket.js">
    </script>
</body>

</html>
