<% layout('layouts/boilerplate')%>

<header class="main_header">
    <!-- //the main image -->
    <div class="main_header__div d-flex align-items-start
    justify-content-center  flex-column shadow pl-5">
            <h2 class="animateWord">
            <span>Explore</span>
            <div>
                <ul class="flip4">
                    <li>Delhi Tourism</li>
                    <li>Travel</li>
                    <li>Monuments</li>
                    <li>Foods </li>
                    <li>Camping </li>
                    <li>Social Places </li>

                </ul>
            </div>
        </h2>
</div>
</header>

<section class="category">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="User_Assets/images/red-fort-delhi-india-indian-flag-84125101.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h2>Monuments</h2>
                        <p> Red Fort, also known as Lal Quila is the place where Indian flag was hoisted at the time of independence of India by Jawahar Lal Nehru above the Lahore Gate on <span>15th August 1947 </span>. Since then this has become a tradition to hoist
                            the national flag at the Red Fort on every
                            <span> India's Independence Day </span></p>
                        <a href="https://en.wikipedia.org/wiki/Red_Fort" target="_blank"> Read More </a>
                      </div>
                    </div>
                  </div>
                </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="User_Assets/images/Travel.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h2>Travel</h2>
                        <p> Delhi is the National Capital Region It is also a Historical place. Many monuments are here.
                            <span>fantastic public transporting system </span>compare to another cities of India </p>
                        <a href="https://www.tourmyindia.com/states/delhi/" target="_blank"> Read More </a>
                      </div>
                    </div>
                  </div>    
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="User_Assets/images/Camping sites.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h2>Camping</h2>
                        <p> Looking for some camping adventure in a tight budget? Well, that’s what many young city people are looking at.</p>
                        <a href="https://www.revv.co.in/blogs/recreational-sites-for-camping-near-delhi/" target="_blank"> Read More </a>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="User_Assets/images/Social Places.jpg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h2>Social place</h2>
                        <p> Delhi is more than just the capital and political epicentre of the country. One great love of the Mughals, this city blends modern with contemporary with surprising finesse. Art, culture, architecture, entertainment</p>
            
                        <a href="https://timesofindia.indiatimes.com/travel/delhi/travel-guide/cs23956884.cms" target="_blank"> Read More </a>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="User_Assets/images/food.jpeg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h2>Food</h2>
                        <p> Despite having popular foods such as Khichdi, rice, biryani, daal, roti, and bhajiya, there is no food that has been declared to be the official National Dish of India. ... There is no particular food that is associated with Indians due
                            to the diversity and variations in regions.</p>
                        <a href="https://www.makemytrip.com/blog/famous-dishes-of-Delhi" target="_blank"> Read More </a>
                      </div>
                    </div>
                  </div>
            </div>

            <div class="col-md-4">
                <div class="flip-card">
                    <div class="flip-card-inner">
                      <div class="flip-card-front">
                        <img src="User_Assets/images/food.jpeg" alt="Avatar" style="width:300px;height:300px;">
                      </div>
                      <div class="flip-card-back">
                        <h2>Food</h2>
                <p> Despite having popular foods such as Khichdi, rice, biryani, daal, roti, and bhajiya, there is no food that has been declared to be the official National Dish of India. ... There is no particular food that is associated with Indians due
                    to the diversity and variations in regions.</p>
                <a href="https://www.makemytrip.com/blog/famous-dishes-of-Delhi" target="_blank"> Read More </a>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
