<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="User_Assets/css/Category.css">
    <title>Place by Category</title>
</head>

<body>


    <h1> <a href="#">Category</a></h1>
    <div class="container">

        <div class="place-category top-img">
            <img src="User_Assets/images/red-fort-delhi-india-indian-flag-84125101.jpg" alt="Monuments">
            <div class="mask"></div>
            <div class="card card-1">
                <h2>Monuments</h2>
                <p> Red Fort, also known as Lal Quila is the place where Indian flag was hoisted at the time of independence of India by Jawahar Lal Nehru above the Lahore Gate on <span>15th August 1947 </span>. Since then this has become a tradition to hoist
                    the national flag at the Red Fort on every
                    <span> India's Independence Day </span></p>
                <a href="https://en.wikipedia.org/wiki/Red_Fort" target="_blank"> Read More </a>
            </div>
        </div>
        <div class="place-category img2">
            <img src="User_Assets/images/Travel.jpg" alt="Monuments">
            <div class="card card-img">
                <h2>Travel</h2>
                <p> Delhi is the National Capital Region It is also a Historical place. Many monuments are here.
                    <span>fantastic public transporting system </span>compare to another cities of India </p>
                <a href="https://www.tourmyindia.com/states/delhi/" target="_blank"> Read More </a>
            </div>
        </div>
        <div class="place-category img2">
            <img src="User_Assets/images/Camping sites.jpg" alt="Socialplace">
            <div class="card card-img">
                <h2>Camping</h2>
                <p> Looking for some camping adventure in a tight budget? Well, that’s what many young city people are looking at. A quick, yet adventurous break from the noisy Delhi streets and cut-throat MNC culture that lets you refresh and rejuvenate.</p>
                <a href="https://www.revv.co.in/blogs/recreational-sites-for-camping-near-delhi/" target="_blank"> Read More </a>
            </div>
        </div>
        <div class="place-category img2">
            <img src="User_Assets/images/Social Places.jpg" alt="Travel">
            <div class="card card-img">
                <h2>Social place</h2>
                <p> Delhi is more than just the capital and political epicentre of the country. One great love of the Mughals, this city blends modern with contemporary with surprising finesse. Art, culture, architecture, entertainment</p>
                <a href="https://timesofindia.indiatimes.com/travel/delhi/travel-guide/cs23956884.cms" target="_blank"> Read More </a>
            </div>
        </div>
        <div class="place-category img2">
            <img src="User_Assets/images/food.jpeg" alt="food">
            <div class="card card-img">
                <h2>Food</h2>
                <p> Despite having popular foods such as Khichdi, rice, biryani, daal, roti, and bhajiya, there is no food that has been declared to be the official National Dish of India. ... There is no particular food that is associated with Indians due
                    to the diversity and variations in regions.</p>
                <a href="https://www.makemytrip.com/blog/famous-dishes-of-Delhi" target="_blank"> Read More </a>
            </div>
        </div>
    </div>



</body>

</html>