<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delhi Tourism - Gallery</title>
    <link rel="stylesheet" href="User_Assets/css/places.css" />
</head>

<body>

    <div id="gallery">
        <div><img src="User_Assets/images/blog-2.jpg">
            <a href="#lightbox-1"></a>
        </div>
        <div><img src="User_Assets/images/blog-3.jpg">
            <a href="#lightbox-2"></a>
        </div>
        <div><img src="User_Assets/images/blog-4.jpg">
            <a href="#lightbox-3"></a>
        </div>
        <div><img src="User_Assets/images/tour-3.jpg">
            <a href="#lightbox-4"></a>
        </div>
        <div><img src="User_Assets/images/tour-1.jpg">
            <a href="#lightbox-5"></a>
        </div>
        <div><img src="User_Assets/images/tour-2.jpg">
            <a href="#lightbox-6"></a>
        </div>
        <div><img src="User_Assets/images/cover-img-1.jpg">
            <a href="#lightbox-7"></a>
        </div>
        <div><img src="User_Assets/images/tour-4.jpg">
            <a href="#lightbox-8"></a>
        </div>
        <div><img src="User_Assets/images/tour-5.jpg">
            <a href="#lightbox-9"></a>
        </div>
        <div><img src="User_Assets/images/tour-6.jpg">
            <a href="#lightbox-10"></a>
        </div>
        <div><img src="User_Assets/images/tour-7.jpg">
            <a href="#lightbox-11"></a>
        </div>
        <div><img src="User_Assets/images/tour-8.jpg">
            <a href="#lightbox-12"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-1">
        <div class="content"><img src="User_Assets/images/blog-2.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-2">
        <div class="content"><img src="User_Assets/images/blog-3.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-3">
        <div class="content"><img src="User_Assets/images/blog-4.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-4">
        <div class="content"><img src="User_Assets/images/tour-3.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-5">
        <div class="content"><img src="User_Assets/images/tour-1.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-6">
        <div class="content"><img src="User_Assets/images/tour-2.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-7">
        <div class="content"><img src="User_Assets/images/cover-img-1.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-8">
        <div class="content"><img src="User_Assets/images/tour-4.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-9">
        <div class="content"><img src="User_Assets/images/tour-5.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-10">
        <div class="content"><img src="User_Assets/images/tour-6.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-11">
        <div class="content"><img src="User_Assets/images/tour-7.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>
    <div class="lightbox" id="lightbox-12">
        <div class="content"><img src="User_Assets/images/tour-8.jpg">
            <div class="title"><b>Delhi Tourism</b></div>
            <a class="close" href="#gallery"></a>
        </div>
    </div>

</body>

</html>