<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Delhi Tourism</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./Assets/images/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="User_Assets/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="User_Assets/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="User_Assets/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="User_Assets/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="User_Assets/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="User_Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="User_Assets/css/owl.theme.default.min.css">

    <!-- Flaticons  -->
    <link rel="stylesheet" href="User_Assets/fonts/flaticon/font/flaticon.css">

    <!-- FontAwsome Icons -->
    <link rel="stylesheet" href="User_Assets/css/all.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="User_Assets/css/style.css">


    <!-- Modernizr JS -->
    <script src="User_Assets/js/modernizr-2.6.2.min.js"></script>

    <!-- Fontawesome -->
    <script src="https://use.fontawesome.com/7ade57373d.js"></script>


</head>

<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo"><a href="/"><img src="User_Assets/images/logo.jpg" style="border-radius:10%;width:95px;height:80px"></a></div>
                        </div>
                        <div class="col-xs-10 text-right">
                            <ul>
                                <div class="menu-1">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li class="has-dropdown">
                                        <a>Explore</a>
                                        <ul class="dropdown">
                                            <li><a href="/browseplace" target="none">Browse Places</a></li>
                                            <li><a href="/category" target="none">Categories</a></li>
                                            <li><a href="/addnewplace" target="none">+ Add Places</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/bookticket">Book Ticket</a></li>
                                    <li><a href="/contactus">Contact Us</a></li>
                                    <li class="has-dropdown">
                                        <a href="/login">Login</a>
                                        <ul class="dropdown">
                                            <li><a href="/registration">Register</a></li>
                                            <li><a href="/userprofile" target="none">View Profile</a></li>
                                            <li><a href="/changepassword">Change Password</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a><span id="light-dark-text">Light</span><i id="light-dark-icon" style="margin-left:6px" class="fa fa-sun-o" aria-hidden="true"></i></a>
                                        <input type="checkbox" name="check2" id="check2" class="togglebtn" /><label style="margin-bottom: 0px;" for="check2"><b></b></label>
                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(User_Assets/images/cover-img-1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>2 Days Tour</h2>
                                        <h1>Amazing Delhi Tour</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(User_Assets/images/img_bg_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>10 Days Long Vaccation</h2>
                                        <h1>From any State to Delhi</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(User_Assets/images/tour-3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Explore some of the Enormous Place</h2>
                                        <h1>World Famous Tourist Spots</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(User_Assets/images/tour-1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Experience the</h2>
                                        <h1>Heart of India</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
    </div>

    <div id="colorlib-services">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-3 animate-box text-center aside-stretch">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-plane-departure"></i>
							</span>
                        <h3 class="second-portion-title">Amazing Trip</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
                <div class="col-md-3 animate-box text-center">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-heartbeat"></i>
							</span>
                        <h3 class="second-portion-title">The Beat of Heart</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
                <div class="col-md-3 animate-box text-center">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-car"></i>
							</span>
                        <h3 class="second-portion-title">Tourist Place</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
                <div class="col-md-3 animate-box text-center">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-skating"></i>
							</span>
                        <h3 class="second-portion-title">Activities</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-tour colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h3 class="second-portion-title">Popular Destination</h3>
                    <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque,
                        whose courtyard accommodates 25,000 people.</p>
                </div>
            </div>
        </div>
        <div class="tour-wrap">
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-1.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Red Fort</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-2.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Outab Minar</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-3.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Humayun's Tomb</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-4.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Jama Masjid</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-5.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>India Gate</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-6.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Lotus Temple</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-7.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Lodhi Garden</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-8.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Rashtrapati Bhavan</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
        </div>
    </div>


    <div id="colorlib-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h3 class="second-portion-title">Recent Blog</h3>
                    <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque,
                        whose courtyard accommodates 25,000 people.</p>
                </div>
            </div>
            <div class="blog-flex">
                <div class="f-entry-img" style="background-image: url(User_Assets/images/blog-3.jpg);">
                </div>
                <div class="blog-entry aside-stretch-right">
                    <div class="row">
                        <div class="col-md-12 animate-box">
                            <a href="#" class="blog-post">
                                <span class="img" style="background-image: url(User_Assets/images/blog-1.jpg);"></span>
                                <div class="desc">
                                    <span class="date">Mar 14, 2021</span>
                                    <h3 class="second-portion-title">A Definitive Guide to the Best Stay</h3>
                                    <p class="cat">Activities</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 animate-box">
                            <a href="#" class="blog-post">
                                <span class="img" style="background-image: url(User_Assets/images/blog-2.jpg);"></span>
                                <div class="desc">
                                    <span class="date">Mar 14, 2021</span>
                                    <h3 class="second-portion-title">How to Find The Path to Their Dream Trip</h3>
                                    <span class="cat">Activities</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 animate-box">
                            <a href="#" class="blog-post">
                                <span class="img" style="background-image: url(User_Assets/images/blog-4.jpg);"></span>
                                <div class="desc">
                                    <span class="date">Mar 14, 2021</span>
                                    <h3 class="second-portion-title">Our Secret Best Hotel Stay</h3>
                                    <span class="cat">Activities</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-intro" class="intro-img" style="background-image: url(User_Assets/images/cover-img-1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 animate-box">
                    <div class="intro-desc">
                        <div class="text-salebox">
                            <div class="text-lefts">
                                <div class="sale-box">
                                    <div class="sale-box-top">
                                        <h2 class="number">20</h2>
                                        <span class="sup-1">Most</span>
                                        <span class="sup-2">Noted</span>
                                    </div>
                                    <h2 class="text-sale">Place</h2>
                                </div>
                            </div>
                            <div class="text-rights">
                                <h3 class="title">Places which will make you fell in LOVE</h3>
                                <p>There are top 20 places which every tourist love.</p>
                                <p><a href="/browseplace" class="btn btn-primary">Gallery</a> <a href="/category" class="btn btn-primary btn-outline">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animate-box">
                    <div class="video-wrap">
                        <div class="video colorlib-video" style="background-image: url(User_Assets/images/img_bg_2.jpg);">
                            <div class="video-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-testimony" class="colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>
                        <h3 class="second-portion-title">Our Satisfied Guests says</h3>
                    </h2>
                    <p class="second-portion-paragraph">We love to tell about the review of different places from different tourist.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box">
                    <div class="owl-carousel2">
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(User_Assets/images/person1.jpg);"></span>
                                <span class="user">Red Fort</span>
                                <small>Delhi</small>
                                <blockquote>
                                    <p>" We love to tell about the review of different places from different tourist. "</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(User_Assets/images/person2.jpg);"></span>
                                <span class="user">India Gate</span>
                                <small>Delhi</small>
                                <blockquote>
                                    <p>" We love to tell about the review of different places from different tourist. "</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(User_Assets/images/person3.jpg);"></span>
                                <span class="user">Lotus Temple</span>
                                <small>Delhi</small>
                                <blockquote>
                                    <p>" We love to tell about the review of different places from different tourist. "</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-subscribe" style="background-image: url(User_Assets/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>Sign Up for a Newsletter</h2>
                    <p>Sign up for our mailing list to get latest updates and offers.</p>
                    <form class="form-inline qbstp-header-subscribe">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <footer id="colorlib-footer" role="contentinfo">
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h4>About</h4>
                    <p>This website includes all the famous places to visit by tourists from all over the world. Going through this website will make you explore all the famous places of Delhi i.e.
                        From historical monuments to best restaurant and etc.</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Book now</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="/bookticket">Flight</a></li>
                            <li><a href="/bookticket">Hotels</a></li>
                            <li><a href="/bookticket">Tour</a></li>
                            <li><a href="/bookticket">Car Rent</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Top Places</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="/browseplace">Chandni Chock</a></li>
                            <li><a href="/browseplace">Sarojni Nagar</a></li>
                            <li><a href="/browseplace">Chandni Chock</a></li>
                            <li><a href="/browseplace">Sarojni Nagar</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2">
                    <h4>Blog Post</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="/bookticket">The Ultimate Trip</a></li>
                        <li><a href="/bookticket">How These 5 People Come to the Heart of India</a></li>
                        <li><a href="/bookticket">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <a href="/contactus"><h4>Contact Us</h4></a>
                    <ul class="colorlib-footer-links">
                        <li>Delhi, <br> India</li>
                        <li><a href="/contactus">+ 0000 0000 00</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved to Delhi Tourism
                    </p>
                </div>
            </div>
        </div>
    </footer>
    </div>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
    <script src="User_Assets/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="User_Assets/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="User_Assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="User_Assets/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="User_Assets/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="User_Assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="User_Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="User_Assets/js/magnific-popup-options.js"></script>
    <!-- Stellar Parallax -->
    <script src="User_Assets/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="User_Assets/js/main.js"></script>

</body>

</html>