<!DOCTYPE HTML>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Delhi Tourism</title>
    <link rel="icon" type="image/png" sizes="32x32" href="./Assets/images/logo.jpg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">

    <!-- Animate.css -->
    <link rel="stylesheet" href="User_Assets/css/animate.css">
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="User_Assets/css/icomoon.css">
    <!-- Bootstrap  -->
    <link rel="stylesheet" href="User_Assets/css/bootstrap.css">

    <!-- Magnific Popup -->
    <link rel="stylesheet" href="User_Assets/css/magnific-popup.css">

    <!-- Flexslider  -->
    <link rel="stylesheet" href="User_Assets/css/flexslider.css">

    <!-- Owl Carousel -->
    <link rel="stylesheet" href="User_Assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="User_Assets/css/owl.theme.default.min.css">

    <!-- Flaticons  -->
    <link rel="stylesheet" href="User_Assets/fonts/flaticon/font/flaticon.css">

    <!-- FontAwsome Icons -->
    <link rel="stylesheet" href="User_Assets/css/all.min.css">

    <!-- Theme style  -->
    <link rel="stylesheet" href="User_Assets/css/style.css">


    <!-- Modernizr JS -->
    <script src="User_Assets/js/modernizr-2.6.2.min.js"></script>

    <!-- Fontawesome -->
    <script src="https://use.fontawesome.com/7ade57373d.js"></script>

    <link rel="stylesheet" href="User_Assets/css/feedback.css">

</head>

<body>

    <div class="colorlib-loader"></div>

    <div id="page">
        <nav class="colorlib-nav" role="navigation">
            <div class="top-menu">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-2">
                            <div id="colorlib-logo">
                                <a href="/"><img src="User_Assets/images/logo.jpg" style="border-radius:10%;width:95px;height:80px"></a>
                            </div>
                        </div>
                        <div class="col-xs-10 text-right">
                            <ul>
                                <div class="menu-1">
                                    <li class="active"><a href="/">Home</a></li>
                                    <li class="has-dropdown">
                                        <a>Explore</a>
                                        <ul class="dropdown">
                                            <li><a href="/browseplace" target="none">Browse Place</a></li>
                                            <li><a href="/gallery" target="none">Gallery</a></li>
                                            <li><a href="/category" target="none">Categories</a></li>
                                            <li><a href="/addnewplace" target="none">+ Add Places</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/bookticket">Book Ticket</a></li>
                                    <li><a href="/contactus">Contact Us</a></li>
                                    <% if(currentUser) {%>
                                        <li>
                                            <a href="/userprofile">
                                                <%= user.firstname %>
                                            </a>
                                        </li>
                                        <li><a href="/logout">Logout</a></li>
                                        <%}%>
                                            <% if(!currentUser) {%>
                                                <li class="has-dropdown">
                                                    <a href="/login">Login</a>
                                                    <ul class="dropdown">
                                                        <li><a href="/registration">Register</a></li>
                                                        <!-- <li><a href="/userprofile" target="none">View Profile</a></li>
                                            <li><a href="/changepassword">Change Password</a></li> -->
                                                    </ul>
                                                </li>
                                                <% } %>
                                                    <li>
                                                        <div class="theme_toggle_container">
                                                            <div class="tumbler__wrapper">
                                                                <input type="checkbox" class="togglebtn" />
                                                                <div class="tumbler"></div>
                                                                <?xml version="1.0" encoding="iso-8859-1"?>
                                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                                          <g>
                                              <path style="fill:#F0C419;" d="M30,0c-0.552,0-1,0.448-1,1v6c0,0.552,0.448,1,1,1s1-0.448,1-1V1C31,0.448,30.552,0,30,0z"/>
                                              <path style="fill:#F0C419;" d="M30,52c-0.552,0-1,0.448-1,1v6c0,0.552,0.448,1,1,1s1-0.448,1-1v-6C31,52.448,30.552,52,30,52z"/>
                                              <path style="fill:#F0C419;" d="M59,29h-6c-0.552,0-1,0.448-1,1s0.448,1,1,1h6c0.552,0,1-0.448,1-1S59.552,29,59,29z"/>
                                              <path style="fill:#F0C419;" d="M8,30c0-0.552-0.448-1-1-1H1c-0.552,0-1,0.448-1,1s0.448,1,1,1h6C7.552,31,8,30.552,8,30z"/>
                                              <path style="fill:#F0C419;" d="M46.264,14.736c0.256,0,0.512-0.098,0.707-0.293l5.736-5.736c0.391-0.391,0.391-1.023,0-1.414
                                                  s-1.023-0.391-1.414,0l-5.736,5.736c-0.391,0.391-0.391,1.023,0,1.414C45.752,14.639,46.008,14.736,46.264,14.736z"/>
                                              <path style="fill:#F0C419;" d="M13.029,45.557l-5.736,5.736c-0.391,0.391-0.391,1.023,0,1.414C7.488,52.902,7.744,53,8,53
                                                  s0.512-0.098,0.707-0.293l5.736-5.736c0.391-0.391,0.391-1.023,0-1.414S13.42,45.166,13.029,45.557z"/>
                                              <path style="fill:#F0C419;" d="M46.971,45.557c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l5.736,5.736
                                                  C51.488,52.902,51.744,53,52,53s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L46.971,45.557z"/>
                                              <path style="fill:#F0C419;" d="M8.707,7.293c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414l5.736,5.736
                                                  c0.195,0.195,0.451,0.293,0.707,0.293s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L8.707,7.293z"/>
                                              <path style="fill:#F0C419;" d="M50.251,21.404c0.162,0.381,0.532,0.61,0.921,0.61c0.13,0,0.263-0.026,0.39-0.08l2.762-1.172
                                                  c0.508-0.216,0.746-0.803,0.53-1.311s-0.804-0.746-1.311-0.53l-2.762,1.172C50.272,20.309,50.035,20.896,50.251,21.404z"/>
                                              <path style="fill:#F0C419;" d="M9.749,38.596c-0.216-0.508-0.803-0.746-1.311-0.53l-2.762,1.172
                                                  c-0.508,0.216-0.746,0.803-0.53,1.311c0.162,0.381,0.532,0.61,0.921,0.61c0.13,0,0.263-0.026,0.39-0.08l2.762-1.172
                                                  C9.728,39.691,9.965,39.104,9.749,38.596z"/>
                                              <path style="fill:#F0C419;" d="M54.481,38.813L51.7,37.688c-0.511-0.207-1.095,0.041-1.302,0.553
                                                  c-0.207,0.512,0.041,1.095,0.553,1.302l2.782,1.124c0.123,0.049,0.25,0.073,0.374,0.073c0.396,0,0.771-0.236,0.928-0.626
                                                  C55.241,39.603,54.994,39.02,54.481,38.813z"/>
                                              <path style="fill:#F0C419;" d="M5.519,21.188L8.3,22.312c0.123,0.049,0.25,0.073,0.374,0.073c0.396,0,0.771-0.236,0.928-0.626
                                                  c0.207-0.512-0.041-1.095-0.553-1.302l-2.782-1.124c-0.513-0.207-1.095,0.04-1.302,0.553C4.759,20.397,5.006,20.98,5.519,21.188z"
                                                  />
                                              <path style="fill:#F0C419;" d="M39.907,50.781c-0.216-0.508-0.803-0.745-1.311-0.53c-0.508,0.216-0.746,0.803-0.53,1.311
                                                  l1.172,2.762c0.162,0.381,0.532,0.61,0.921,0.61c0.13,0,0.263-0.026,0.39-0.08c0.508-0.216,0.746-0.803,0.53-1.311L39.907,50.781z"
                                                  />
                                              <path style="fill:#F0C419;" d="M21.014,9.829c0.13,0,0.263-0.026,0.39-0.08c0.508-0.216,0.746-0.803,0.53-1.311l-1.172-2.762
                                                  c-0.215-0.509-0.802-0.747-1.311-0.53c-0.508,0.216-0.746,0.803-0.53,1.311l1.172,2.762C20.254,9.6,20.625,9.829,21.014,9.829z"/>
                                              <path style="fill:#F0C419;" d="M21.759,50.398c-0.511-0.205-1.095,0.04-1.302,0.553l-1.124,2.782
                                                  c-0.207,0.512,0.041,1.095,0.553,1.302c0.123,0.049,0.25,0.073,0.374,0.073c0.396,0,0.771-0.236,0.928-0.626l1.124-2.782
                                                  C22.519,51.188,22.271,50.605,21.759,50.398z"/>
                                              <path style="fill:#F0C419;" d="M38.615,9.675c0.396,0,0.771-0.236,0.928-0.626l1.124-2.782c0.207-0.512-0.041-1.095-0.553-1.302
                                                  c-0.511-0.207-1.095,0.041-1.302,0.553L37.688,8.3c-0.207,0.512,0.041,1.095,0.553,1.302C38.364,9.651,38.491,9.675,38.615,9.675z"
                                                  />
                                          </g>
                                          <circle style="fill:#F0C419;" cx="30" cy="30" r="20"/>
                                          <circle style="fill:#EDE21B;" cx="30" cy="30" r="15"/>
                                          </svg>
                                                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 499.712 499.712" style="enable-background:new 0 0 499.712 499.712;" xml:space="preserve">
                                          <path style="fill:#FFD93B;" d="M146.88,375.528c126.272,0,228.624-102.368,228.624-228.64c0-55.952-20.16-107.136-53.52-146.88
                                              C425.056,33.096,499.696,129.64,499.696,243.704c0,141.392-114.608,256-256,256c-114.064,0-210.608-74.64-243.696-177.712
                                              C39.744,355.368,90.944,375.528,146.88,375.528z"/>
                                          <path style="fill:#F4C534;" d="M401.92,42.776c34.24,43.504,54.816,98.272,54.816,157.952c0,141.392-114.608,256-256,256
                                              c-59.68,0-114.448-20.576-157.952-54.816c46.848,59.472,119.344,97.792,200.928,97.792c141.392,0,256-114.608,256-256
                                              C499.712,162.12,461.392,89.64,401.92,42.776z"/>
                                          <g>
                                              <polygon style="fill:#FFD83B;" points="128.128,99.944 154.496,153.4 213.472,161.96 170.8,203.56 180.864,262.296
                                                  128.128,234.568 75.376,262.296 85.44,203.56 42.768,161.96 101.744,153.4 	"/>
                                              <polygon style="fill:#FFD83B;" points="276.864,82.84 290.528,110.552 321.104,114.984 298.976,136.552 304.208,166.984
                                                  276.864,152.616 249.52,166.984 254.752,136.552 232.624,114.984 263.2,110.552 	"/>
                                          </svg>
                                                            </div>
                                                        </div>
                                                    </li>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <aside id="colorlib-hero">
            <div class="flexslider">
                <ul class="slides">
                    <li style="background-image: url(User_Assets/images/cover-img-1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>2 Days Tour</h2>
                                        <h1>Amazing Delhi Tour</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(User_Assets/images/img_bg_2.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>10 Days Long Vaccation</h2>
                                        <h1>From any State to Delhi</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(User_Assets/images/tour-3.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluids">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Explore some of the Enormous Place</h2>
                                        <h1>World Famous Tourist Spots</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li style="background-image: url(User_Assets/images/tour-1.jpg);">
                        <div class="overlay"></div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12 slider-text">
                                    <div class="slider-text-inner text-center">
                                        <h2>Experience the</h2>
                                        <h1>Heart of India</h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </aside>
        <div id="colorlib-reservation">
            <!-- <div class="container"> -->
            <div class="row">
                <div class="search-wrap">
                    <div class="container">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#flight"><i class="flaticon-plane"></i> Flight</a></li>
                            <li><a data-toggle="tab" href="#hotel"><i class="flaticon-resort"></i> Hotel</a></li>
                            <li><a data-toggle="tab" href="#car"><i class="flaticon-car"></i> Car Rent</a></li>
                        </ul>
                    </div>
                    <div class="tab-content">
                        <div id="flight" class="tab-pane fade in active">
                            <form method="post" class="colorlib-form">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="date">Where:</label>
                                            <div class="form-field">
                                                <input type="text" id="location" class="form-control" placeholder="Search Location">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="date">Check-in:</label>
                                            <div class="form-field">
                                                <i class="icon icon-calendar2"></i>
                                                <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="date">Check-out:</label>
                                            <div class="form-field">
                                                <i class="icon icon-calendar2"></i>
                                                <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="guests">Guest</label>
                                            <div class="form-field">
                                                <i class="icon icon-arrow-down3"></i>
                                                <select name="people" id="people" class="form-control">
				                        <option value="#">1</option>
				                        <option value="#">2</option>
				                        <option value="#">3</option>
				                        <option value="#">4</option>
				                        <option value="#">5+</option>
				                      </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" name="submit" id="submit" value="Find Flights" class="btn btn-primary btn-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="hotel" class="tab-pane fade">
                            <form method="post" class="colorlib-form">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="booknow">
                                            <h2>Book Now</h2>
                                            <span>Best Price Online</span>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="date">Check-in:</label>
                                            <div class="form-field">
                                                <i class="icon icon-calendar2"></i>
                                                <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="date">Check-out:</label>
                                            <div class="form-field">
                                                <i class="icon icon-calendar2"></i>
                                                <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <label for="guests">Guest</label>
                                            <div class="form-field">
                                                <i class="icon icon-arrow-down3"></i>
                                                <select name="people" id="people" class="form-control">
				                                    <option value="#">1</option>
				                                    <option value="#">2</option>
				                                    <option value="#">3</option>
				                                    <option value="#">4</option>
				                                    <option value="#">5+</option>
				                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" name="submit" id="submit" value="Find Hotel" class="btn btn-primary btn-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div id="car" class="tab-pane fade">
                            <form method="post" class="colorlib-form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="date">Where:</label>
                                            <div class="form-field">
                                                <input type="text" id="location" class="form-control" placeholder="Search Location">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="date">Start Date:</label>
                                            <div class="form-field">
                                                <i class="icon icon-calendar2"></i>
                                                <input type="text" id="date" class="form-control date" placeholder="Check-in date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label for="date">Return Date:</label>
                                            <div class="form-field">
                                                <i class="icon icon-calendar2"></i>
                                                <input type="text" id="date" class="form-control date" placeholder="Check-out date">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <input type="submit" name="submit" id="submit" value="Find Car" class="btn btn-primary btn-block">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-services">
        <div class="container">
            <div class="row no-gutters">
                <div class="col-md-3 animate-box text-center aside-stretch">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-plane-departure"></i>
							</span>
                        <h3 class="second-portion-title">Amazing Trip</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
                <div class="col-md-3 animate-box text-center">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-heartbeat"></i>
							</span>
                        <h3 class="second-portion-title">The Beat of Heart</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
                <div class="col-md-3 animate-box text-center">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-car"></i>
							</span>
                        <h3 class="second-portion-title">Tourist Place</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
                <div class="col-md-3 animate-box text-center">
                    <div class="services">
                        <span class="icon">
                            <i class="fas fa-skating"></i>
							</span>
                        <h3 class="second-portion-title">Activities</h3>
                        <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort mosque
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="colorlib-tour colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h3 class="second-portion-title">Popular Destination</h3>
                    <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque,
                        whose courtyard accommodates 25,000 people.</p>
                </div>
            </div>
        </div>
        <div class="tour-wrap">
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-1.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Red Fort</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-2.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Outab Minar</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-3.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Humayun's Tomb</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-4.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Jama Masjid</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-5.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>India Gate</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-6.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Lotus Temple</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-7.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Lodhi Garden</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
            <a href="#" class="tour-entry animate-box">
                <div class="tour-img" style="background-image: url(User_Assets/images/tour-8.jpg);">
                </div>
                <span class="desc">
						<p class="star"><span><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i><i class="icon-star-full"></i></span> 545 Reviews</p>
                <h2>Rashtrapati Bhavan</h2>
                <span class="city">Delhi</span>
                <span class="price">See More</span>
                </span>
            </a>
        </div>
    </div>


    <div id="colorlib-blog">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h3 class="second-portion-title">Recent Blog</h3>
                    <p class="second-portion-paragraph">Delhi, India’s capital territory, is a massive metropolitan area in the country’s north. In Old Delhi, a neighborhood dating to the 1600s, stands the imposing Mughal-era Red Fort, a symbol of India, and the sprawling Jama Masjid mosque,
                        whose courtyard accommodates 25,000 people.</p>
                </div>
            </div>
            <div class="blog-flex">
                <div class="f-entry-img" style="background-image: url(User_Assets/images/blog-3.jpg);">
                </div>
                <div class="blog-entry aside-stretch-right">
                    <div class="row">
                        <div class="col-md-12 animate-box">
                            <a href="#" class="blog-post">
                                <span class="img" style="background-image: url(User_Assets/images/blog-1.jpg);"></span>
                                <div class="desc">
                                    <span class="date">Mar 14, 2021</span>
                                    <h3 class="second-portion-title">A Definitive Guide to the Best Stay</h3>
                                    <p class="cat">Activities</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 animate-box">
                            <a href="#" class="blog-post">
                                <span class="img" style="background-image: url(User_Assets/images/blog-2.jpg);"></span>
                                <div class="desc">
                                    <span class="date">Mar 14, 2021</span>
                                    <h3 class="second-portion-title">How to Find The Path to Their Dream Trip</h3>
                                    <span class="cat">Activities</span>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-12 animate-box">
                            <a href="#" class="blog-post">
                                <span class="img" style="background-image: url(User_Assets/images/blog-4.jpg);"></span>
                                <div class="desc">
                                    <span class="date">Mar 14, 2021</span>
                                    <h3 class="second-portion-title">Our Secret Best Hotel Stay</h3>
                                    <span class="cat">Activities</span>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-intro" class="intro-img" style="background-image: url(User_Assets/images/cover-img-1.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 animate-box">
                    <div class="intro-desc">
                        <div class="text-salebox">
                            <div class="text-lefts">
                                <div class="sale-box">
                                    <div class="sale-box-top">
                                        <h2 class="number">20</h2>
                                        <span class="sup-1">Most</span>
                                        <span class="sup-2">Noted</span>
                                    </div>
                                    <h2 class="text-sale">Place</h2>
                                </div>
                            </div>
                            <div class="text-rights">
                                <h3 class="title">Places which will make you fell in LOVE</h3>
                                <p>There are top 20 places which every tourist love.</p>
                                <p><a href="/browseplace" class="btn btn-primary">Gallery</a> <a href="/category" class="btn btn-primary btn-outline">Read more</a></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 animate-box">
                    <div class="video-wrap">
                        <div class="video colorlib-video" style="background-image: url(User_Assets/images/img_bg_2.jpg);">
                            <div class="video-overlay"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-testimony" class="colorlib-light-grey">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>
                        <h3 class="second-portion-title">Our Satisfied Guests says</h3>
                    </h2>
                    <p class="second-portion-paragraph">We love to tell about the review of different places from different tourist.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 col-md-offset-2 animate-box">
                    <div class="owl-carousel2">
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(User_Assets/images/person1.jpg);"></span>
                                <span class="user">Red Fort</span>
                                <small>Delhi</small>
                                <blockquote>
                                    <p>" We love to tell about the review of different places from different tourist. "</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(User_Assets/images/person2.jpg);"></span>
                                <span class="user">India Gate</span>
                                <small>Delhi</small>
                                <blockquote>
                                    <p>" We love to tell about the review of different places from different tourist. "</p>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimony text-center">
                                <span class="img-user" style="background-image: url(User_Assets/images/person3.jpg);"></span>
                                <span class="user">Lotus Temple</span>
                                <small>Delhi</small>
                                <blockquote>
                                    <p>" We love to tell about the review of different places from different tourist. "</p>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="colorlib-subscribe" style="background-image: url(User_Assets/images/img_bg_2.jpg);" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center colorlib-heading animate-box">
                    <h2>Sign Up for a Newsletter</h2>
                    <p>Sign up for our mailing list to get latest updates and offers.</p>
                    <form class="form-inline qbstp-header-subscribe">
                        <div class="row">
                            <div class="col-md-12 col-md-offset-0">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="email" placeholder="Enter your email">
                                    <button type="submit" class="btn btn-primary">Subscribe</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <br /><br /><br />
                    <div>Give us your valuable feedback!</div><br />
                    <div><button type="submit" class="btn btn-primary" onclick="document.getElementById('id01').style.display='block'">Feedback</button></div>
                    <div id="id01" class="modal">
                        <form class="modal-content animate" action="/action_page.php" method="post">
                            <div class="feedback_container" style="font-size: 1.5ch; text-align: left;">
                                <div style="background-color:black; padding: 10px; font-size: large; text-align: center;">Give us your feedback!</div><br /><br />
                                <label for="fname" style="color:white; font-size: medium; padding: 12px 20px;"><b>Name</b></label>
                                <input type="text" class="si" style="color: white; font-size: medium; padding: 12px 20px;" placeholder="Enter Name" name="fname" required>&emsp;&emsp;&emsp;&emsp;
                                <label for="fname" style="color:white; font-size: medium; padding: 12px 20px;"><b>Email</b></label>
                                <input type="text" class="si" style="color: white; font-size: medium; padding: 12px 20px;" placeholder="Enter Email" name="fname" required><br /><br />
                                <span style="font-size: medium;">How would you rate your overall experience with our service?</span>&emsp;&emsp;&emsp;&emsp;
                                <span style="font-size: medium;text-align: left;">What should we improve in order to live up to your expectations?</span><br />
                                <br />
                                <label><input type="radio" id="s1" name="f1"><span style="font-size: 20px;">&#128525;</span></label>
                                <label><input type="radio" id="s1" name="f1"><span style="font-size: 20px;">&#128522;</span></label>
                                <label><input type="radio" id="s1" name="f1"><span style="font-size: 20px;">&#128528;</span></label>
                                <label><input type="radio" id="s1" name="f1"><span style="font-size: 20px;">&#128530;</span></label>
                                <label><input type="radio" id="s1" name="f1"><span style="font-size: 20px;">&#128545;</span></label>
                                <textarea name="Text1" class="si" cols="60" rows="5" style="color: white; font-size: medium; padding: 12px 20px; float:right" placeholder="Enter your comments!"></textarea>
                                <br />
                                <span style="font-size: medium; text-align: left;">How satisfied are you with the comprehensive suggestions?</span><br />
                                <label><input type="radio" id="s2" name="f2"><span style="font-size: 20px;">&#128525;</span></label>
                                <label><input type="radio" id="s2" name="f2"><span style="font-size: 20px;">&#128522;</span></label>
                                <label><input type="radio" id="s2" name="f2"><span style="font-size: 20px;">&#128528;</span></label>
                                <label><input type="radio" id="s2" name="f2"><span style="font-size: 20px;">&#128530;</span></label>
                                <label><input type="radio" id="s2" name="f2"><span style="font-size: 20px;">&#128545;</span></label>
                                <br />
                                <span style="font-size: medium;text-align: left;">How satisfied are you with our customer support system?</span><br />
                                <label><input type="radio" id="s3" name="f3"><span style="font-size: 20px;">&#128525;</span></label>
                                <label><input type="radio" id="s3" name="f3"><span style="font-size: 20px;">&#128522;</span></label>
                                <label><input type="radio" id="s3" name="f3"><span style="font-size: 20px;">&#128528;</span></label>
                                <label><input type="radio" id="s3" name="f3"><span style="font-size: 20px;">&#128530;</span></label>
                                <label><input type="radio" id="s3" name="f3"><span style="font-size: 20px;">&#128545;</span></label>
                                <br />
                                <span style="font-size: medium;text-align: left;">Would you recommend our service to others?</span>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                <span style="font-size: medium;text-align: left;"><b>Thank you for choosing Delhi Tourism! We hope that you enjoyed</b></span>
                                <br />
                                <label><input type="radio" id="s4" name="f4"><span style="font-size: 20px;">&#128525;</span></label>
                                <label><input type="radio" id="s4" name="f4"><span style="font-size: 20px;">&#128522;</span></label>
                                <label><input type="radio" id="s4" name="f4"><span style="font-size: 20px;">&#128528;</span></label>
                                <label><input type="radio" id="s4" name="f4"><span style="font-size: 20px;">&#128530;</span></label>
                                <label><input type="radio" id="s4" name="f4"><span style="font-size: 20px;">&#128545;</span></label>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                                <span style="font-size: medium;text-align: left;"><b> your experience with us.</b></span>
                                <br />
                                <br />
                                <div style="text-align: center;"><button type="submit" class="btn btn-primary"><b>Submit</b></button></div>
                            </div>
                            <div style="background-color:black; padding: 10px;">
                                <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn"><b>Cancel</b></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer id="colorlib-footer" role="contentinfo">
        <section style="margin-bottom: 40px;">
            <div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div>
                                    <h2 id="contactus-head" style="text-align: center;font-size: 35px;font-weight: 600;color:whitesmoke">CONTACT US</h2>
                                </div>
                                <form action="https://formspree.io/f/xdoynnyq" id="my-form" method="POST" data-form-title="CONTACT US">
                                    <input type="hidden" data-form-email="true">
                                    <div class="form-group">
                                        <input type="text" id="validationCustom01" class="form-control contactus-form" name="name" required="" placeholder="Name*" data-form-field="Name">
                                    </div>
                                    <div class="form-group">
                                        <input type="email" id="validationCustom02" class="form-control contactus-form" name="email" required="" placeholder="Email*" data-form-field="Email">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control contactus-form" id="validationCustom03" name="message" placeholder="Message" rows="7" data-form-field="Message"></textarea>
                                    </div>
                                    <div style="display: flex;justify-content: center;">
                                        <button type="submit" class="btn btn-md btn-danger contactus-button">SUBMIT</button>
                                    </div>
                                </form>
                                <div id="status"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <div class="row row-pb-md">
                <div class="col-md-3 colorlib-widget">
                    <h4>About</h4>
                    <p>This website includes all the famous places to visit by tourists from all over the world. Going through this website will make you explore all the famous places of Delhi i.e. From historical monuments to best restaurant and etc.</p>
                    <p>
                        <ul class="colorlib-social-icons">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-linkedin"></i></a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Book now</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="/bookticket">Flight</a></li>
                            <li><a href="/bookticket">Hotels</a></li>
                            <li><a href="/bookticket">Tour</a></li>
                            <li><a href="/bookticket">Car Rent</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2 colorlib-widget">
                    <h4>Top Places</h4>
                    <p>
                        <ul class="colorlib-footer-links">
                            <li><a href="/browseplace">Chandni Chock</a></li>
                            <li><a href="/browseplace">Sarojni Nagar</a></li>
                            <li><a href="/browseplace">Chandni Chock</a></li>
                            <li><a href="/browseplace">Sarojni Nagar</a></li>
                        </ul>
                    </p>
                </div>
                <div class="col-md-2">
                    <h4>Blog Post</h4>
                    <ul class="colorlib-footer-links">
                        <li><a href="/bookticket">The Ultimate Trip</a></li>
                        <li><a href="/bookticket">How These 5 People Come to the Heart of India</a></li>
                        <li><a href="/bookticket">A Definitive Guide to the Best Dining and Drinking Venues in the City</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-md-push-1">
                    <a href="/contactus">
                        <h4>Contact Us</h4>
                    </a>
                    <ul class="colorlib-footer-links">
                        <li>Delhi, <br> India</li>
                        <li><a href="/contactus">+ 0000 0000 00</a></li>
                        <li><a href="/feedback">Feedback</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved to Delhi Tourism
                    </p>
                </div>
            </div>
        </div>
    </footer>

    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up2"></i></a>
    </div>

    <!-- jQuery -->
    <script src="User_Assets/js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="User_Assets/js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="User_Assets/js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="User_Assets/js/jquery.waypoints.min.js"></script>
    <!-- Flexslider -->
    <script src="User_Assets/js/jquery.flexslider-min.js"></script>
    <!-- Owl carousel -->
    <script src="User_Assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup -->
    <script src="User_Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="User_Assets/js/magnific-popup-options.js"></script>

    <script src="User_Assets/js/bootstrap-datepicker.js"></script>
    <!-- Stellar Parallax -->
    <script src="User_Assets/js/jquery.stellar.min.js"></script>
    <!-- Main -->
    <script src="User_Assets/js/main.js"></script>

</body>

</html>