body {
    background: #eaeaea;  
    font-family: 'Open Sans', sans-serif;
   
  }
  
.info p {
    text-align:center;
    color: #999;
    text-transform:none;
    font-weight:600;
    font-size:15px;
    margin-top:2px
  }
  
.info i {
    color:#F6AA93;
  }
    
.header {
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    height: 60px;
    margin-left: 18px;
    margin-right: 18px;
    padding-top: 6px;
    border-radius: 0px 0px 5px 5px;
       
    font-size: 18px;
    
  }
  
form {
    border-radius: 5px;
    max-width:100%;
    width:100%;
    
    background-color: #FFFFFF;
    overflow: hidden;
  }
#editor-container{
    height: 180px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
    margin-bottom: 15px;
    box-shadow: 10px 10px grey;
    width: 550px;
    padding-right: 10px;
    
  }
.editor{
    width: 550px;
    box-sizing: border-box;
    
  }
  
p span {
    color: #F00;
  }
  
p {
    margin: 0px;
    font-weight: 500;
    line-height: 2;
    color:#333;
  }
  
h1 {
    text-align:center; 
    color: #666;
    text-shadow: 1px 1px 0px #FFF;
    margin:50px 0px 0px 0px
  }
  
input[type=text ],input[type=url ] {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid black;
    margin-bottom: 15px;
    box-shadow: 10px 10px grey;
    width: 75%;
    height: 35px;
    float: left;
    padding: 0px 15px;
  }
  
a {
    text-decoration:inherit
  }

    
.form-group {
    overflow: hidden;
    clear: both;
  }
  
.icon-case {
    width: 35px;
    float: left;
    border-radius: 5px 0px 0px 5px;
    background:#eeeeee;
    height:30px;
    position: relative;
    text-align: center;
    line-height:40px;
  }

i {
    color:#555;
  }
  
.contentform {
    padding: 40px 30px;
  }
  
.button-send{
    background-color: #81BDA4;
    color: #FFF;
    text-align: center;
    width: 100%;
    border:0;
    padding: 17px 25px;
    border-radius: 0px 0px 5px 5px;
    cursor: pointer;
    margin-top: 40px;
    font-size: 18px;
  }
.lefthalf {
    width:45%; 
    float:left;
    
    box-sizing: border-box;
    padding: 0px 15px 0px 0px;
  }
  
.righthalf {
    width:55%;
    float: right;
    
    box-sizing: border-box;
    padding: 0px 0px 0px 15px;
  }
 
 
.container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    box-shadow: 10px 10px grey;
  }