@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --main-color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

* {
    font-family: var(--font-para);
}

html {
    font-size: 62.5%;
}

p,
label,
input::placeholder {
    font-size: 1.9rem;
    line-height: 170%;
    color: #6c757d;
}

figure img,
.fab {
    transition: var(--eff);
}

a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

body {
    background: hsl(84, 3%, 94%);
    margin: 0px 0px 0px 0px; 
    padding: 0px 0px 0px 0px; 
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  height: 70px;
  position: sticky;
  top: 4px;
  border: 3px solid snow;
  z-index: 3;

}

.nav a {
  font-size: 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 15px;
  font-family: 'Gorditas', cursive;
  text-decoration: none;
  cursor: pointer;

}

.nav a:hover {
  color: turquoise;
  font-size: 25px;
}

#nav_img{
  position: absolute;
  left: 20px;
}

#register{
  position: absolute;
  right: 20px;
}


.main_header__div {
    height: calc(100vh - 20vh);
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0)), url('https://cdn.pixabay.com/photo/2020/02/02/17/24/travel-4813658_1280.jpg');
    background-size: var(--bg-size);
    width: 100%;
    
    
}

.main_heading {
    font-family: var(--title);
    font-weight: bold;
    font-size: 4rem;
    color: #1b262c;
}

.main_heading__para {
    font-size: 2.2rem;
}

.main_header__div p {
    font-weight: bold;
    font-size: 3.5rem;
    font-family: var(--title);
    color: var(--main-color);
    padding-bottom: 0rem;
}

.main_header .top_head{
    background:#fcc203;

   
}

.main_header__div h2 {
    font-size: 6.5rem;
    font-weight: bold;
    font-family: var(--title);
    color: var(--main-color);
    padding-bottom: none;
    position: relative;
    transition: var(--eff);
}

.main_header__div span {
    font-family: var(--title);
}

.animateWord div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 8rem;
    padding-top: 1rem;
    margin-top: -1rem;
}

.animateWord div li {
    font-weight: 700;
    padding: 0 1rem;
    height: 4.5rem;
    margin-bottom: 4.5rem;
    display: block;
    font-family: var(--title);
}

.flip4 {
    -webkit-animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
    animation: flip4 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@-webkit-keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }

}

@keyframes flip4 {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.99% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }

}

.main_header__div button {
    color: var(--btn-font-color);
    border-width: 0;
    font-size: var(--btn-font);
    transition: var(--eff);
    padding: .8rem 2rem;
    background-color:  #fec107;
    border-color: var(--btn-color);
    font-family: var(--title);
    outline: none;
    margin-top: 15px;
}

.main_header__div button:hover
 {
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 3rem -1rem rgba(255, 255, 255, 0.8);
}

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body{
  background:whitesmoke;
  margin: 0px 0px 0px 0px; 
  padding: 0px 0px 0px 0px; 
}
.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

 .top_img{
  width: 100%;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
}
.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  color: #fec107;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #fec107;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}

.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 100%;
   padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #fec107;
  color: #fff;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #ffd658;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}




@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}




/*header responsive code*/
@media(max-width:998px) {
    html {
        font-size: 60%;
    }

    .left_div__blog {
        margin: 3rem 0;
    }

    p,
    label,
    input::placeholder {
        font-size: 2.2rem;
    }

    :root {
        --btn-font: 2rem;
    }

    .main_header__div h2 {
        font-size: 5rem;
    }

}

@media(max-width:768px) {
    html {
        font-size: 45%;
    }

    .left_div__blog {
        margin: 3rem 0;
    }

}