
html {
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}

body{

}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;
    position: sticky;
    top: 4px;
    border: 3px solid snow;
    z-index: 3;

}

.nav a {
    font-size: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
    font-family: 'Gorditas', cursive;
    text-decoration: none;
    cursor: pointer;

}

.nav a:hover {
    color: turquoise;
    font-size: 25px;
}

#nav_img{
    position: absolute;
    left: 20px;
}

#register{
    position: absolute;
    right: 20px;
}

.header{
    background-image: radial-gradient(#ffffff,#ff00f2,rgb(0, 162, 255));
    font-size: 20px;
    font-family: 'Bangers', cursive;
    letter-spacing: 15px;
}

.header h1:hover{
    transform: scale(1.2);
    transition: cubic-bezier(0.215, 0.610, 0.355, 1);
}

.cutting {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,168,255,0.3), rgba(0,168,255,0.3), rgba(125, 60, 152));
    background-repeat: no-repeat;
    background-size: 100% 100%;
    clip-path: polygon(100% 0%,100% 75%, 50% 100%, 0 75%, 0 0%);
    position: relative;
}

.front_img{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px dotted black;
    
}

.about_us{
    padding: 20px;
    margin: 10px;
    border: 3px dashed black;
    border-radius: 30px;

}

.about_us_div{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 0, 106);

}

.about_us_btn{
    cursor: pointer;
    background-image: -moz-linear-gradient(-45deg rgb(255, 0, 234),rgb(55, 0, 255),#00ffb3);
    size: 20px;
}

.foot {
    text-align: center;
    font-size: 18px;
    background-color: black;
    color: white;
}

.gotopbtn {
    position: fixed;
    width: 50px;
    height: 50px;
    background: turquoise;
    bottom: 40px;
    right: 50px;

    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 22px;
}