body {
    min-height: 100vh;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    height: 70px;
    position: sticky;
    top: 4px;
    border: 3px solid snow;
    z-index: 3;
}

.nav a {
    font-size: 20px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
    font-family: 'Gorditas', cursive;
    text-decoration: none;
    cursor: pointer;
}

.nav a:hover {
    color: turquoise;
    font-size: 25px;
}

#nav_img {
    position: absolute;
    left: 20px;
}

#register {
    position: absolute;
    right: 20px;
}

.form-control:not(select) {
    padding: 1.5rem 0.5rem;
}

select.form-control {
    height: 52px;
    padding-left: 0.5rem;
}

.form-control::placeholder {
    color: #ccc;
    font-weight: bold;
    font-size: 0.9rem;
}

.form-control:focus {
    box-shadow: none;
}

span .fa-check {
    color: #fff;
    left: 42px;
    top: 25px;
    font-size: 5px;
    position: absolute;
}

.social-media {
    max-width: 600px;
    background-color: #fff;
    margin: auto;
    text-align: center;
    color: #9fadca;
}

.social-icons {
    margin: 16px 0;
    /* margin-bottom: 16px; */
}

.social-icons a {
    font-size: 23px;
    margin: 0 3px;
    color: #5691ff;
    border: 1px solid;
    border-radius: 50%;
    width: 45px;
    display: inline-block;
    height: 45px;
    text-align: center;
    background-color: #fff;
    line-height: 45px;
}

.social-icons a:hover {
    text-decoration: none;
    opacity: 0.6;
}