*
{
margin:10px;
padding:0;
}
.img
{
  margin-left: 97%;
  position: absolute;
  margin-bottom: 50%;
  top:-0.7%;
width: 700px;
height:1440px;
bottom:2%;
}
body {
  background-image: url('Background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow-x:hidden;
  margin-block-start: 5%;
}

.container
{
 background:whitesmoke;
  width:700px;
 height:1440px;
 position:absolute;
 top:0%;
}
.button
{
  width: 50%;
  height: 50px;
}
input
{
border:1 px black;
border-bottom:1px solid #006080;
width:80%;
font-size:1.5em;
padding:7px 0;
outline:none;
}

